.example-container {
    position: fixed;
    top: 10%;
    bottom: 10%;
    width: 20%;
    height: 90%;
    left: 0;
    right: 0;
    background-color: transparent;
    text-decoration: none;
    overflow-y: hidden;
    margin-bottom: 5%;
  }

  .side-menu{
      overflow-y: auto;

  }

 
  /* ul li{
      text-decoration: none;
      list-style: none;
      padding: 2%;
  } */

  .category{
      text-decoration: none;
  }
  
  .product{
      position: relative;
      width: 300px;
  }
  
  .product-container{ 
      height: 400px !important;
      width: 400px !important;
  }

  .mat-card-image{
      object-fit: contain;
  }

  .button-container
  {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
  }

  button{
    height: 45px;
      color: black;
      background-color: var(--primary-color);
      text-decoration: none;
  }

  .container{
      width: 75%;
      margin-top: 3%;
      margin-left: 20%;
      background-color: transparent;
  }

  mat-grid-tile {
    background: transparent;
  }

  /* .example-card{
      background-color: mediumaquamarine;
  } */
  .example-card {
    max-width: 250px;
  }
  
  .mat-card{
      background-color: transparent;
      color: black;

      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

