:host {
    background-color: rgba(99, 96, 96, 0.527);
    width: 100%;
    bottom: 0 ;
  }
  .socialpng{
    bottom: 0;
    padding: 1em;
    color: black;
    background-color: blueviolet;
  }
  .rights{
    margin-right: 2em;
    color: red;
  }
  