<a mat-button (click)="homePage()" class="home"> Back To Home <mat-icon>home</mat-icon></a>
<div class="container">

    <div class="image-container" id = "img">
    </div>
    
    <div class="details-container">
        <mat-list role="list">
            <mat-list-item role="listitem" id="name"> {{product.Brand}} {{product.ProductName}} </mat-list-item>
            <mat-list-item role="listitem" id="category">Category : {{product.CategoryName}}</mat-list-item>
            <mat-list-item role="listitem" id="variance" *ngIf="product.Variance!=null">{{product.Variance}}</mat-list-item>
            <mat-list-item role="listitem" id="color" *ngIf="product.Color!=null"> {{product.Color}} </mat-list-item>
            <mat-list-item role="listitem" id="description" *ngIf="product.Description!=null"> Description : {{product.Description}}</mat-list-item>
            <mat-list-item role="listitem" id="price"> Price : {{product.Price}}</mat-list-item>
            <mat-list-item role="listitem" id="seller"> Seller : {{product.SellerName}} </mat-list-item>
            <mat-list-item role="listitem" class="button-container"><span>Quantity : </span>
            <input mat-input type="number" id="qty" value = {{product.Quantity}} [ngModel]="product.Quantity" (ngModelChange)="qtychange($event)" step="1" min="1" max="10" required></mat-list-item>
            <mat-list-item role="listitem" id="seller"><a mat-button (click)="checkQuantity()">Add To Cart <mat-icon>shopping_cart</mat-icon></a></mat-list-item>
  
        </mat-list>
    </div>
    </div>