
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element"> {{element.Brand}} {{element.ProductName}} <br>
        {{element.Color}}-{{element.Variance}}  </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> Rs.{{element.Price}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"><a mat-button (click)="Delete(element.Commodity_ID)">Delete</a></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> Rs.{{element.Total}} </td>
      <td mat-footer-cell *matFooterCellDef> Rs.{{getTotalCost()}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['item','quantity','cost','delete','total']"></tr>
  </table>

  <a mat-button class="buy" (click)="goToOrders()">Buy Now</a>
  