

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Date | date:'mediumDate'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Orders_ID">
    <th mat-header-cell *matHeaderCellDef> Orders_ID </th>
    <td mat-cell *matCellDef="let element"> {{element.Orders_ID}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Product">
    <th mat-header-cell *matHeaderCellDef> Product Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Brand}} {{element.ProductName}} {{element.Color}} {{element.Variance}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
  </ng-container>

  <ng-container matColumnDef="DeliveryDate">
    <th mat-header-cell *matHeaderCellDef> DeliveryDate </th>
    <td mat-cell *matCellDef="let element"> {{element.DeliveryDate | date:'mediumDate'}} </td>
  </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="Print">
      <th mat-header-cell *matHeaderCellDef> Print </th>
      <td mat-cell *matCellDef="let element"> <a mat-button (click)="generateInvoice(element)"> Print </a> </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>